/* styles/chatbot.module.css */
.chatbot {
    display: flex;
    flex-direction: column;
    height: 90vh;
    margin: auto;
  }
  
  .messages {
    flex: 1;
    overflow-y: auto;
    padding: 16px;
    margin-bottom: 16px;
    width:100%;
  }
  
  .messageBox {
    max-width:600px;
    margin:auto;
  }